/* color */
$primaryColor: #ffffff;
$secondaryColor: #2e3a46;
$thirdColor: #808080;

/* typo */
$fontFamily: 'Lato', sans-serif;
$baseFontSize: 14px;
$h2FontSize: 26px;
$h3FontSize: 22px;
$regularFontSize: 20px;
$smallFontSize: 14px;

/* dimension */
$widthInner: 85%;